* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
   
}
.satauri {
    margin-top: 30px;
    margin-left: 180px;
}
.menu {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;

}
span {
    margin: 10px;
}
.text {
    color: lightgray;
}
.row-1 {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
}
.row-2 {
    width: 100%;
    padding: 10px;
   display: flex;
   justify-content: center;
}
.card {
    background-color: #FAF4EF;
    border-bottom-left-radius: 40px;
    width: 366px;
    height: 420px;
    margin: 15px;
    padding-left: 20px;
}
.chair {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.chair {
    margin-top: 65px;
}
.white {
    margin-top: 90px;
    display: flex;
    justify-content: center;
}
.lamp {
    margin-top: 30px;
}
.black{
    margin-top: 30px;
}
.board {
    margin-top: 60px;
}
.couch {
    margin-top: 100px;
}
.second {
    margin-top: 20px;
}

